* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
    overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Figtree", sans-serif;
}

.container-fluid img {
    width: 100px;
    height: 50px;
}

.container-fluid header {
    background-color: #000000;
    height: 70px;
    margin: 0;
}

.container-fluid ul li {
    margin-bottom: 15px;
    font-size: 15px;
}

#dx p {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0 15px;
}

#dx i{
    color: #696969;
    font-size: 20px;
}
#globe {
    color: #fff;
    margin: 0 20px;
}

/*searchbar*/
.col-12.searchbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 60px;
    height: 65px;
    padding: 16px;
}

.imput-2{
    width: 90px;
    font-size: 15px;
}

#search-bar {
    height: 100px;
}
.col .d-flex .flex-column .ms-2 input {
    width: 80px;
}
.colonna1 {
    display: flex;
    flex-direction: column;
}

.colonna2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 10px;
    width: 100px;
}

.colonna3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    width: 100px;
}

.colonna4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    width: 100px;
}

#search-bar input {
    border: 0;
}

.colonna1 i {
    color: #000000;
    align-items: end;

}

.lente {
    color: #fff;
    background-color: #e41d56;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 30px;
}

#jumbo{
   flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 600px;
    background-image: url(assets/assets/home.jpg);
    background-size: cover;
    background-position: center;
} 
.titolo1,
.titolo2 {
    color: #fff;
    margin-left: 50px;
    font-size: 100px;
    margin-top: 100px;
    font-weight: 600;
}

.titolo2 {
    margin-top: -40px;
}

.home-btn {
    width: 150px;
    height: 30px;
    margin-left: 65px;
    border-radius: 5px;
    font-size: 12px;
    font-family: "Figtree", sans-serif;
}

.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    /*width: 1200px;*/
    margin: auto;
    margin-top: 20px;
}


.card-container {
    display: flex;
    margin: 0 10px;
    align-items: center;
    
}

#luoghi img {
    width: 70px;
    height: 70px;
    border-radius: 10px;
}
.card-container img {
    transition: transform 0.3s ease-in-out;
}

.card-container:hover img {
    transform: scale(1.1);
}

.card-title {
    font-size: 12px;
    margin-left: 5px;
}

.card-description {
    font-size: 10px;
    margin-left: 5px;

}  
/*tablet */
@media screen and (max-width: 768px) {
    .container-fluid img {
        width: 80px;
        height: 40px;
        margin-left: 10px; 
    }

    .col-md-3 {
        width: auto; 
        margin-right: 10px;
    }

    .nav {
        flex-direction: row; 
        align-items: center; 
        margin-top: 10px; 
    }

    .nav li {
        margin-bottom: 10px; 
    }

    #dx {
        justify-content: center; 
        align-items: center;
    }
    .searchbar {
        flex-direction: row; 
        align-items: center; 
    }

    .searchbar .col {
        margin-bottom: 10px; 
    }

    .lente {
        margin-top: 10px; 
    }
    #jumbo {
        padding-top: 100px; 
      }
      
      .titolo1 {
        font-size: 4em; 
        margin-left: 10px;
      }
      
      .titolo2 {
        margin-left: 10px;
        font-size: 4em; 
      }
    
      .home-btn {
        font-size: 12px;
        margin-left: 10px;
      }
      
}
/*mobile*/
@media screen and (max-width: 576px) {
    .col-md-3 {
        flex: 1 0 100%; 
        margin-bottom: 10px; 
        text-align: center; 
        justify-content: center; 
        align-items: center;
    }

    .col-md-3 img {
        margin-left: 0;
    }

    .nav {
        flex-direction: row; 
        align-items: center; 
    }

    #dx {
        flex-direction: row; 
        align-items: center; 
    }

    #dx p {
        margin-bottom: 5px; 
    }

    .searchbar {
        flex-direction: row; 
        align-items: center; 
    }

    .searchbar .col {
        margin-bottom: 10px; 
    }

    .lente {
        margin-top: 10px; 
    }
    #jumbo {
        height: auto; 
        padding-top: 100px; 
        padding-bottom: 100px; 
        text-align: center; 
    }

    .titolo1,
    .titolo2 {
        margin-left: 0; 
        font-size: 50px; 
        margin-top: 50px; 
    }

    .titolo2 {
        margin-top: -20px; 
    }

    .home-btn {
        height: 25px; 
        margin: 0 auto; 
        font-size: 10px; 
    }

    .main {
        flex-wrap: wrap; 
        justify-content: center; 
        height: auto; 
        margin-top: 10px; 
    }

    .card-container {
        margin: 10px 5px; 
    }

    #luoghi img {
        width: 50px; 
        height: 50px; 
    }
    .col-3 {
        width: 50%; 
    }
    .card-title {
        font-size: 10px; 
        margin-left: 5px; 
    }

    .card-description {
        font-size: 8px; 
        margin-left: 5px; 
    }

}
.navbar-toggler {
    background-color: #e41d56;
    color: #fff;
}
.offcanvas-body label {
    font-weight: bold;
    color: #e41d56;
}
.offcanvas-body input {
    font-weight: bold;
    width: 100%; 
    padding: 10px; 
    border: 1px solid #ced4da; 
    border-radius: 5px; 
}
.offcanvas-body input:focus {
    outline: none; 
    border-color: #e41d56; 
}
.form {
    margin-bottom: 20px;
}
.plane {
    display: flex;
    justify-content: center;
    align-items: center;
}
.plane img{
    height: 150px;
    width: 320px;
    margin-top: 50px;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.offcanvas-body input:focus + .plane img {
    opacity: 1;
}