nav img {
    width: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nav div:nth-child(2) {
    display:flex;
    align-items: center;
    gap: 5px;
}

nav div:nth-child(2) img {
    width: 40px;
    margin: 0 50px 0 10px;
    
}

.ion {
    padding: 0 30px;
}

section div span {
    font-size: 13px;
}

.titolo {
    font-weight: bold;
}

.cerchio {
    font-size: 30px;
    color: #E41E56;
    margin-bottom: 5px;
}

button {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #A1A2A1;
    background-color: white;
    padding: 0 10px;
}

button:nth-child(2) {
    margin: 0 10px;
}

button:hover {
    background-color: #FF5C60;
}

button:focus {
    animation: bounce 2s linear;
    background-color: #FF5C60;
}

@keyframes bounce {
    0% {
        transform: scale(0.9);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.2);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.sezione-pagina3 {
    margin: 50px 200px;
}

.sezione-pagina3 p span {
    font-weight: 800;
}

.sezione-pagina3 div {
    display: flex;
    justify-content: space-between;
}

.sezione-pagina3 .left {
    display: flex;
    align-items: center;
    gap: 5px;;
}